.form-group {
    position: relative;
    label {
        position: absolute;
        top: .4em;
        left: .8em;
        transition: .2s;
    }
    input[type="text"] {
        margin-bottom: 1.4em;
        &:focus + label {
            top: -2em;
        }
    }
    input[type="submit"] {
        cursor: pointer;
    }
}