* {
  margin: 0;
  padding: 0;
}
body {
  margin-top: 3.4em;
  font-family: 'Lato', Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
}
img {
  max-height: 100%;
}
.logo {
  margin-bottom: 3.4em;
}
ul {
  margin-top: 3em;
  list-style-type: none;
}