li {
    margin-bottom: 1.4em;
  .card {
    height: 100%;
    padding: 0 .8em;
    box-shadow: 2px 2px 10px 0px rgba(0,0,0,0.1);
    .row {
      height: 100%;
    }
    .card-body {
      display: flex;
      flex-direction: column;
      text-align: left;
      dl {
        flex: 1;
        margin-top: 2em;
      }
      .card-text {
        font-weight: 300;
        color: #999
      }
    }
  }
}