.form-group {
    position: relative;
}
.form-group label {
    position: absolute;
    top: .4em;
    left: .8em;
    transition: .2s;
}
.form-group input[type="text"] {
    margin-bottom: 1.4em;
}
.form-group input[type="text"]:focus + label {
    top: -2em;
}
.form-group input[type="submit"] {
    cursor: pointer;
}