li {
    margin-bottom: 1.4em;
}
li .card {
    height: 100%;
    padding: 0 .8em;
    box-shadow: 2px 2px 10px 0px rgba(0, 0, 0, 0.1);
}
li .card .row {
    height: 100%;
}
li .card .card-body {
    display: flex;
    flex-direction: column;
    text-align: left;
}
li .card .card-body dl {
    flex: 1;
    margin-top: 2em;
}
li .card .card-body .card-text {
    font-weight: 300;
    color: #999;
}
  